/* CSS Document */
.btn-facebook {
	background: #3b5998 none repeat scroll 0 0 !important;
	color: #fff !important;
	text-align: center !important;
}
.btn-facebook i {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  padding-right: 10px;
}
.breadcrumb > .active{color:#fff;}

.btn{width: 100%;}
#mpesa_display, #bank_display{display: none;}


.info-block
{
    border-right:5px solid #E6E6E6;margin-bottom:25px
}
.info-block .square-box
{
    width:100px;min-height:110px;margin-right:22px;text-align:center!important;padding:20px 0
}
.info-block.block-info
{
    border-color:#20819e
}
.info-block.block-info .square-box
{
    background-color:#20819e;color:#FFF
}
span.hidden {
    visibility: hidden;
}